<?xml version="1.0" encoding="utf-8"?>

<LinearLayout
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	xmlns:app="http://schemas.android.com/apk/res-auto"
	android:id="@+id/register_email_login_form"
	android:layout_width="match_parent"
	android:layout_height="wrap_content"
	android:orientation="vertical"
	android:gravity="center_horizontal"
	android:paddingBottom="@dimen/activity_vertical_margin"
	android:paddingLeft="@dimen/activity_horizontal_margin"
	android:paddingRight="@dimen/activity_horizontal_margin"
	android:paddingTop="@dimen/activity_vertical_margin"
	android:background="@color/bg_screen">
	<TextView
		android:text="Registro"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:textColor="@android:color/black"
		android:textSize="32sp"
		android:padding="5dp"
		android:id="@+id/textView1" />
	<android.support.design.widget.TextInputLayout
		android:layout_width="match_parent"
		android:layout_height="wrap_content">
		<AutoCompleteTextView
			android:id="@+id/register_name"
			app:backgroundTint="@color/primaryDark"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:hint="@string/prompt_name"
			android:inputType="textCapWords"
			android:maxLines="1"
			android:singleLine="true" />
	</android.support.design.widget.TextInputLayout>
	<android.support.design.widget.TextInputLayout
		android:layout_width="match_parent"
		android:layout_height="wrap_content">
		<AutoCompleteTextView
			android:id="@+id/register_scondname"
			app:backgroundTint="@color/primaryDark"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:hint="Primer apellido"
			android:inputType="textCapWords"
			android:maxLines="1"
			android:singleLine="true" />
	</android.support.design.widget.TextInputLayout>
	<android.support.design.widget.TextInputLayout
		android:layout_width="match_parent"
		android:layout_height="wrap_content">
		<AutoCompleteTextView
			android:id="@+id/register_email"
			app:backgroundTint="@color/primaryDark"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:hint="@string/prompt_email"
			android:inputType="textEmailAddress"
			android:maxLines="1"
			android:singleLine="true" />
	</android.support.design.widget.TextInputLayout>
	<android.support.design.widget.TextInputLayout
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		app:passwordToggleEnabled="true">
		<android.support.design.widget.TextInputEditText
			android:id="@+id/register_epassword"
			app:backgroundTint="@color/primaryDark"
			android:layout_width="match_parent"
			android:layout_height="wrap_content"
			android:hint="@string/prompt_password"
			android:imeActionId="6"
			android:imeActionLabel="@string/action_sign_in_short"
			android:imeOptions="actionUnspecified"
			android:inputType="textPassword"
			android:maxLines="1"
			android:singleLine="true" />
	</android.support.design.widget.TextInputLayout>
	
	<CheckBox
		android:id="@+id/checkbox"
		android:layout_width="match_parent"
		android:text=""
		android:layout_marginTop="15dp"
		android:layout_height="wrap_content" />
	<Button
		android:id="@+id/register_email_login_in_button"
		style="?android:textAppearanceSmall"
		android:layout_width="match_parent"
		android:layout_height="wrap_content"
		android:layout_marginTop="12dp"
		android:textAllCaps="false"
		android:text="@string/action_log_in"
		android:textStyle="bold" />
</LinearLayout>
